/** { opacity: inherit; filter: inherit; } */



html {
	background: #ccc;
}
img {
	border: 0;
}
html, body {
	font-family: 'Pathway Gothic One', sans-serif;
	background: rgb(255,255,255);
	margin: 0 auto;
	min-height: 100%;
	color: #555;
}	
h1, h2, h3, h4, h5, a {
	font-family: 'Pathway Gothic One', sans-serif !important;
	margin: 0 auto;
	min-height: 100%;
	color: #555;
}

.align-horizontal {
	margin: auto;
}
/*
.backPic {
	display: none;
}*/

.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}

.fancybox-title > span.child {
	padding-left: 700px;
	padding-bottom: 400px;
	background-color: rgba(0,0,0,0);
}

.breadcrumbs {
	top: 100px;
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: transparent;
}

.breadcrumb a {
	text-decoration: none;
	color: #555;
	letter-spacing: .9px;
	font-size: 11px;
}

.breadcrumb {
	border: none;
	background-color: white;
}

.breadcrumb li {
	border-bottom: 2px solid transparent;
	display: inline;
}

.breadcrumb li:hover, .breadcrumb li:focus, .breadcrumb li:active {
	background-color: rgba(221, 221, 221, .7);
	padding-bottom: 1px;
	border-bottom: 1px solid #555;
}

.breadcrumb > a::after {
	top: 1px;
    right: -7px;
    width: 15px;
    height: 15px;
	border-right: 2px solid #555;
	border-bottom: 2px solid #555;
}

.breadcrumb i {
	font-size: 20px;
}

.breadcrumbsScroll {
	top: 80px;
	transition: all .5s ease;
	background-color: transparent;
}

.cart {
	padding-right: 30px;
}

.cart a {
	margin-right: 30px;
}

.cart a:hover {
	background: #ddd;
}

.container-fluid {
	/*margin-top: 125px;*/
}

/*#column-left {
	margin-left: 5px;
	width: 300px;
	display: inline-block;
	position: fixed;
    border-left: solid 3px #555; 
    overflow-y: scroll;
    top:195px;
    bottom: 0;
}*/

#column-left a {
	display: block;
	text-decoration: none;
	color: #555;
	font-size: 15px;
	background: transparent;
    border: none;
    border-bottom: solid 2px transparent;
    border-radius: 0px;
}

#column-left a:hover {
	border-bottom: 2px solid;
}

#column-left a.active {
	font-weight: bold;
}

.product-thumb {
	border: none;
	text-align: center;
	font-weight: normal;
	margin-bottom: 30px;
}

.product-thumb a, h4, p {
	color: #555;
	font-weight: normal;
	font-size: 12px;
	/*display: inline;*/
}

.product-thumb .button-group {
	border: none;
}

.product-thumb .button-group button {
	border-bottom: 3px solid transparent;
}

.product-thumb .button-group button:hover {
	border-bottom: 3px solid #555;
}


div.pic_container {
	width: 100%;
	float: right;
	padding-bottom: 30px;
	overflow: visible;
}

div.pic img {
	position: relative;
	width: 100%;
}

.pic {
	width: 100%;
	height: auto;
}

.corner {
	display: none;
    position: absolute;
    bottom: 6px;
    right: 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100px;
    border-color: transparent transparent rgba(0,0,0,0.7) transparent;
}

.corner p {
	color: rgba(255,255,255,.9);
    position: absolute;
    right: 10px;
    top: 65px;
    font-size: 30px;
}

.lookbook-modal-button:hover {
	cursor: pointer;
}

.lookbook .col-sm-4, .product-thumb {
	padding: 0 1px;
	margin: 0;
}

.lookbook-info {
    position: absolute;
    top: 50%;
    left: 15%;
}

.modal-content-box h4 {
	color: #ccc;
	text-transform: uppercase;
    text-align: left;
    padding: 15px;
    position: absolute;
}

.lookbook-info h3 {
	color: white;
	text-transform: uppercase;
    border-bottom: 1px solid white;
    padding: 5px 10px;
}

.lookbook-info a {
	color: #ccc;
	text-transform: uppercase;
	padding-top: 5px;
}

.lookbook-modal img{
	vertical-align: top;
	width: auto;
    height: 100vh;
}

.modal-cycle {
	position: absolute;
	top: 50%;
}

.modal-cycle {
	color: white;
	opacity: .3;
	font-size: 40px;
	border: none;
	background: none;
}

.modal-cycle.right {
	right: 0;
}

.modal-cycle.left {
	left: 0;
}

.picInfo {
	padding-top: 15px;
	text-align: center;
	font-size: 16px;
}

.quick-view-button,
.quick-view-info button
 {
	background-color: #fff;
	border: 1px solid #aaa;
	margin-bottom: 10px;
}

.quick-view-button:hover,
.quick-view-info button:hover
 {
	border: 2.2px solid black;
}

.quick-view-container {
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
}

.thumbnail .quick-view-main {
	-webkit-transition: transform .5s ease-out;
    -moz-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    -ms-transition: transform .5s ease-out;
}
 
.quick-view-transition {
    -webkit-transform: scale(3); 
    -moz-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	background-color: rgba(0,0,0,0.93);
	width: 100%;
	height: 100%;
	display: none;
}

/*.modal-content-box {
	height: 600px;
	width: 600px;
	background-color: #fff;
	margin: 10.5% auto 1% auto;
	padding: 15px;
	border: 1px solid #aaa;
}*/

/*.modal-content-box img {
	height: 281px;
	width: 500px
}*/

.modal-close {
	position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    color: white;
    font-size: 40px;
    font-weight: 400;
    opacity: 1;
    transition: transform ease 1s;
}

.modal-close:hover {
	cursor: pointer;
	transform: rotate(360deg); 
}


.quick-view-info {
	width: 275px;
	display: inline-block;
	color: #555;
	padding-left: 15px;
	padding-top: 15px;
}

.quick-view-info a {
	color: #555;
}

#slider>img {
	margin-top: 15px;
	width: 100px;
	height: 150px;
}

#slider>img:hover {
	border-bottom: 3px solid #000;
	/*width: 110px;
	height: 165px;*/
}

.lookbook-modal-button {
	border: none;
	background: none;
    padding: 0;
}

.contact-box p {
	display: inline;
}

.nav-tabs li a {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}

/* Custom buttons */
.btn.sharp {
  border-radius:0;
}

.btn.outline {
	background: none;
	padding: 10px 10px;
}


.btn-primary, .btn-default, #button-cart {
	border: 1px solid #444;
	border-radius: 0px;
	color: #444;
	background-color: transparent;
	background-image: none;
	transition: all .7s ease;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open > .dropdown-toggle.btn-primary, 
.btn-default:hover, .btn-default:focus, .btn-default:active, .open > .dropdown-toggle.btn-primary, 
#button-cart:active, #button-cart:hover, #button-cart:focus {
	color: white;
	border-color: #555;
	border-radius: 0px;
	background-color: #555;
	background-image: none;
	box-shadow: none;
}

.button-center {
	display: block;
	width: 120px;
	margin: 0 auto;
}

.button-wrapper {
	vertical-align: middle; 
}

.img-center {
/*    margin: auto;
    max-height: 100vh;
    max-width: auto;
	-webkit-filter: drop-shadow(30px 30px 7px #222);
	filter: drop-shadow(30px 30px 7px #222);*/
}

.carousel-fade .carousel-inner .item {
  	opacity: 0;
  	transition-property: opacity;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      	opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
              	transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      	opacity: 0;
      	-webkit-transform: translate3d(0, 0, 0);
              	transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      	opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
              	transform: translate3d(0, 0, 0);
    }
}

.full-height {
	height: 100vh;
	margin-top: 30px;
}

.sort {
	display: inline;
	white-space: nowrap;
}

.sort.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}


.sort-content {
	/*display: none;
	height: 100px;
	width: 300px
	box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
	/*left: 90px;*/
	white-space: nowrap;
}

.sort-options {
	height: 30px;
	width: 50px;
}

.product .col-sm-6, .col-sm-2 {
	text-align: center;
}

.thumbnail {
	border: none;
}

.image-additional {
	height: 75vh;
	overflow: scroll;
	
}

.image-additional a {
	padding: 0;
	margin: 10px;
	border: none;
}

.image-additional img {
	/*height: 150px;
	width: 100px;*/
}

/* Scrollbar */ 

::-webkit-scrollbar{width: 3px;}

::-webkit-scrollbar-thumb{background-color:rgb(196, 196, 196); border-radius: 2px;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(196, 196, 196);}

::-webkit-scrollbar-track{background-color:rgb(237, 237, 237);}


/* End Scrollbar */

.product-info h1, h2 {
	font-size: 16px;
	letter-spacing: .7px;
}

h3 {
	font-size: 14px;
	letter-spacing: .7px;
}

.panel-group {
	margin-top: 30px;
}

.panel-title {
	text-decoration: none;
	color: #444;
}

.panel-title span {
	float: right;
	font-size: 14px;
	/*padding-top: 3px;*/
}

.panel-group .panel {
	border-radius: 0px;
	box-shadow: none;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
	border: none;
	background-color: transparent;
	color: #444;
}
.img-center {
	margin: auto;
}

.front-pic {
	position: absolute;
	left: 0;
	transition: opacity 1s;
}

.front-pic:hover{
	opacity: 0;
}

.product-layout.product-grid.col-lg-3,
.product-layout.product-grid.col-md-3,
.product-layout.product-grid.col-sm-4 {
	padding-left: 0px;
	padding-right: 0px;
}

#pos-rel {
	position: relative !important;
}