/* v3.0 One Row Navigation Final */

.nav {
	z-index:10;
}

.logo {
	z-index:10;
}

.logo img {
	margin: 0 auto;
}

/* Media Query for mobile 300px screen to 748px */
@media (min-width: 330px) {

	/* Collapsable menu stuff */
	.collapsing, .in {background-color: #fff;}
	.collapsing ul li a:hover, .collapsing ul li a:active, .collapsing ul li a:focus, 
	.in ul li a:hover, .in ul li a:active, .in ul li a:focus {
		background-color: #ddd;color:#000;
	}
	.nav .open li:focus, .nav .open li:hover {background-color: #ddd; color:000;}

	.nav li {
		text-align: center;
		padding-bottom: 5px;
	}

	.nav a {
		color: #555;
	}

	/* Logo size in the Navigation */
	.logo {
		width: 35%;
    	height: auto;
		margin-top: 15px;
		display: inline-block;
	}

	.navbar {
		text-align: center; 
		margin-bottom: 0px;
		background-color: white;
    	z-index: 10;
	}

	.navbar-nav .open .dropdown-menu {
		display: block;
		background-color: rgba(220,220,220,.2);
	}

	.navbar-nav .dropdown li {
		padding: 2px;
	}
	
	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 10px;
	}

	/* END OF Two Row (second row) navigation */
}

/* Media Query for desktop 300px screen to 748px */
@media (min-width: 768px) {

	.nav.navbar-nav > .row > li {
		display: inline-block;
    	width: 20%;
	}

	/* Logo size in the Navigation */
	.logo {
		width: 60%;
    	height: auto;
		margin-top: 5px;
		display: inline-block;
	}

	/* Fix dropdown menu */
	.dropdown:hover .dropdown-menu, .dropdown-toggle, .dropdown, .dropdown.open .dropdown-menu {
		display: block;
		margin: auto;
		/*z-index: 10;	*/
	}

	.dropdown .dropdown-menu {
	    -webkit-transition: max-height 1s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	    -moz-transition: max-height 1s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	    -ms-transition: max-height 1s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	    -o-transition: max-height 1s, opacity 0.2s 0.1s, visibility 0s 0.3s;
	    transition: max-height 1s, opacity 0.2s 0.1s, visibility 0s 0.3s;

	    max-height: 0;
	    display: block;
	    overflow: hidden;
	    opacity: 0;
	    visibility: hidden;
	}
	.navbar-nav .dropdown-menu, .navbar-nav .open .dropdown-menu {
		background-color: #fff;
		min-width: 160px;
		border: none;
	}

	.dropdown:hover .dropdown-menu, .dropdown.open .dropdown-menu {
	    -webkit-transition: max-height 1s, opacity 0.2s, visibility 0s;
	    -moz-transition: max-height 1s, opacity 0.2s, visibility 0s;
	    -ms-transition: max-height 1s, opacity 0.2s, visibility 0s;
	    -o-transition: max-height 1s, opacity 0.2s, visibility 0s;
	    transition: max-height 1s, opacity 0.2s, visibility 0s;
	    margin-top: 3px;
	    max-height: 600px;
	    opacity: 1;
	    visibility: visible;
	    border: none;
	    border-radius: 0px;
	}

	/* make responsive image fit to li in navigation */
	a.img-responsive {
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-bottom: 0px !important;
	}

	/* White navbar */

	.navbar a {
		color: #555;
		letter-spacing: 1.5px;
	}

	.navbar-nav .dropdown>li>a, .navbar-nav .open .dropdown-menu>li>a {
		color: #555;
		font-weight: 400;
		letter-spacing: 1.5;
		line-height: 1.42857143 !important;
	}

	.dropdown-menu li > a:hover {
	    text-decoration: none;
		color: #222; 
		background-color: #ddd; 
		background-image: none; 
	}
	
	.navbar:hover {
		opacity: 1 !important;
	}

	.navbar {
		text-align: center;
		position: fixed;
		z-index: 10;
		width:100%;
		margin-top: -110px;
		border-bottom:none;
		background-color: white;
		opacity: 1;
		transition: all 1s;
		white-space: nowrap;
		border-radius: 0px;
	}

	.navbar .navbar-collapse {
		width: 100%;
	    margin: auto;
	}

	.navbar + div {
		margin-top: 110px;
	}

	.navbar-nav {
		float: none;
	}

	.dropdown-menu li {
		text-align: left;
		padding-bottom: 3px;
	}

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
		background-color: #fff;
		border-color: transparent;
	}

}

/* Media Query for desktop 300px screen to 748px */
@media (min-width: 992px) {

	.navbar .navbar-collapse {
		width: 60%;
	    margin: auto;
	}


}

/* End of one row nav */
