/* v3.0 One Row Navigation Final */

.nav {
	z-index:10;
}

.logo {
	z-index:10;
}

/* Media Query for mobile 300px screen to 748px */
@media (min-width: 330px) {

	/* Collapsable menu stuff */
	.collapsing, .in {background-color: #fff;}
	.collapsing ul li a:hover, .collapsing ul li a:active, .collapsing ul li a:focus, 
	.in ul li a:hover, .in ul li a:active, .in ul li a:focus {
		background-color: #ddd;color:000;
	}
	.nav .open li:focus, .nav .open li:hover {background-color: #ddd; color:000;}

	.nav li {
		text-align: center;
		padding-bottom: 5px;
	}

	.nav a {
		color: #555;
	}

	/* Logo size in the Navigation */
	.logo {
		width: 35%;
    	height: auto;
		margin-top: 15px;
		display: inline-block;
	}

	.fix-top {
		position: absolute;
		top:10px;
		right:10px;
	}

	.navbar {
		text-align: center; 
	}

	.side-collapse-container{
		width:100%;
		position:relative;
		left:0;
		transition:left .4s;
	}
	.side-collapse-container.out{
		left:200px;
	}
	.side-collapse {
		top:50px;
		bottom:0;
		left:0;
		width:200px;
		position:fixed;
		overflow:hidden;
		transition:width .4s;
	}
	.side-collapse.in {
	  	width:0;
	}
	/* END OF Two Row (second row) navigation */
}

/* Media Query for desktop 300px screen to 748px */
@media (min-width: 768px) {

	/* Fix dropdown menu */
	.dropdown:hover .dropdown-menu, .dropdown-toggle, .dropdown {
		display: block;
		margin: auto;
		z-index: 10;
	}

	/* make responsive image fit to li in navigation */
	a.img-responsive {
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-bottom: 0px !important;
	}

	/* White navbar */

	.navbar a {
		color: #555;
		letter-spacing: 1.5px;
	}

	.navbar:hover, .navbar:focus {
		opacity: 1;
	}

	.dropdown li a {
		color: #555;
	}

	.dropdown-menu li > a:hover {
	    text-decoration: none;
	     color: #222; 
	     background-color: #ddd; 
	     background-image: none; 
	}

	.navbar {
		text-align: center;
		position: fixed;
		z-index: 10;
		width:100%;
		margin-top: -110px;
		border-bottom:none;
		background-color: white;
		opacity: 1;
		transition: all 1s;
		white-space: nowrap;
		border-radius: 0px;
	}

	.navbar .navbar-collapse {
		padding-bottom: 10px;
		width: 100%;
	    margin: auto;
	}

	.navbar + div {
		margin-top: 110px;
	}

	.navbar-nav {
		float: none;
	}

	.dropdown-menu li {
		text-align: left;
		padding-bottom: 3px;
	}

}

/* Media Query for desktop 300px screen to 748px */
@media (min-width: 992px) {

	.navbar .navbar-collapse {
		padding-bottom: 10px;
		width: 60%;
	    margin: auto;
	}


}

/* End of one row nav */
