/* v3.0 One Row Navigation Final */
/* White navbar */

.navbar a {
	color: #555;
	letter-spacing: 1.5px;
}

.navbar:hover, .navbar:focus {
	opacity: 1;
}

.dropdown li a {
	color: #555;
}

.dropdown-menu li > a:hover {
    text-decoration: none;
     color: #222; 
     background-color: #ddd; 
     background-image: none; 
}

.navbar {
	text-align: center;
	position: fixed;
	z-index: 10;
	width:100%;
	margin-top: -110px;
	border-bottom:none;
	background-color: transparent;
	opacity: 1;
	transition: all 1s;
}

.navbar .navbar-collapse {
	padding-bottom: 10px;
	width: 50%;
    margin: auto;
}

.navbar + div {
	margin-top: 110px;
}

/* Media Query for mobile 300px screen to 748px */
@media (min-width: 330px) {

	/*body {
		margin-top: 100px;
	}*/

	.navbar.navbar-inverse {
		height: 100px;
		transition: all .75s ease;
	}

	.dropdown-menu {
		border-radius: 0px;
		border: none;
	}

	.nav-justified {
		width: auto;
		display: inline-block;
		margin-top: 15px;
	}

	/* Collapsable menu stuff */
	.collapsing, .in {background-color: #222;}
	.collapsing ul li a:hover, .collapsing ul li a:active, .collapsing ul li a:focus, 
	.in ul li a:hover, .in ul li a:active, .in ul li a:focus {background-color: transparent; border-bottom: 1px solid #fff;}
	.nav .open a:focus, .nav .open a:hover {background-color: transparent; border-bottom: 1px solid #fff;}

	/* Collapsable menu stuff */
	.navbar.navbar-inverse.navbar-fixed-top .open .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    margin-top: 0;
	    text-align: center;
	}

	/* Collapsable menu stuff */
	.nav-justified > li > a, .nav-justified > li > div > a {
		color: #fff;
		text-align: center;
		position: relative;
		display: block;
		text-decoration: none;
		/*padding: 10px 15px;*/
	}

	/* dropdown two column stuff */
	.dropdown-header.more {
		font-size: 16px;
		background-color: rgba(34, 34, 34, 0.1);
	}

	.navbar-lower {
	    top: -50px;
	}

	/* Two Row (second row) navigation */
	.affix {
		top: 50px;
		width:100%;
		color: #999;
	}

	.navbar-collapse.collapse.lower {
		display: block!important;
	}

	.navbar-nav.pull-right>li, .navbar-nav.pull-right {
		float: right !important;
	}

	#lower-navbar a {
	    color: #222;
	}
	#lower-navbar a:hover, #lower-navbar a:focus #lower-navbar li:hover, #lower-navbar li:focus{
		color: #fff;
	    text-decoration: underline;
	    background-color: #585858;
	}
	.nav.navbar-nav.pull-right {
		margin-top: 0px;
	}
	/* END OF Two Row (second row) navigation */
}

/* Media Query for desktop 300px screen to 748px */
@media (min-width: 768px) {
	/*body {
		margin-top: 0px;
	}*/

	/* make navbar inverse */
	.navbar.navbar-inverse.navbar-fixed-top {
		/*background: transparent;*/
		border-bottom:1px solid transparent;
		/*height: 125px;*/
		height: 90px;
		transition: all .5s ease;
		z-index: 100;
	}

	/* Shrink navbar on scroll (code in header.js) */
	nav.navbar.navbar-inverse.navbar-smaller {
		height: 80px;
		background-color: rgba(0, 0, 0, 0.3);
		border-bottom: 1px solid transparent;
	}

	/* Horizontally equate the width of all lis */
	.nav-justified>li {
		width: 200px;
	}

	/* Vertically align to bottom menu items */
	.nav-justified > li > div {
		position: relative;
		transform: translateY(90%);
		transition: all .5s ease;
	}
	
	/* Vertically align to middle menu items  on scroll */
	.nav-justified.nav-align > li > div {
		position: relative;
		transform: translateY(50%);
	}

	/* Fix dropdown menu */
	.dropdown:hover .dropdown-menu, .dropdown-toggle, .dropdown {
		display: block;
		margin: auto;
		z-index: 10000;
	}

	/* Set a tags on navigation */
	.nav-justified > li > div > a {
		text-align: center;
		position: relative;
		display: block;
		text-decoration: none;
		/*padding: 10px 0px;*/
		/*color: #222;*/
		/*border: 1px solid transparent;*/
		transition: all .7s ease;
	}

	/* Vertically align to middle menu items  on scroll */
	.nav-justified.nav-align > li > div > a{
		color: #fff;
	}

	/* On hover set to this */
	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover,
	.nav .open > div > a, .nav .open > div > a:focus, .nav .open > div > a:hover,
	.nav-justified > li > a:hover, .nav-justified > li > a:focus,
	.nav-justified > li > div > a:hover, .nav-justified > li > div > a:focus,
	.nav .open > li > a, .nav .open > li > a:focus, .nav .open > li > a:hover,
	.nav .open > li > div > a, .nav .open > li > div > a:focus, .nav .open > li > div > a:hover
	 {
		background-color: transparent;
		color: #ddd;
		/*border: 1px solid #222;*/
	}

	/* make responsive image fit to li in navigation */
	a.img-responsive {
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-bottom: 0px !important;
	}

	/* Logo size in the Navigation */
	.logo {
		width: 35%;
    	height: auto;
		margin-top: 15px;
		display: inline-block;

	}

	.logo-name {
		width: auto;
		height: 35px;
		margin-top: 3px;
	}

	/* Image box background */
	.logoLI.clearfix {
		/*transform: translateY(0%);
		background: #444;
		z-index: 0;
		height:145px;
		padding-left: 10px;
		padding-right: 10px;
		-webkit-box-shadow: 0px 0px 10px 5px rgba(34,34,34,0.6);
		-moz-box-shadow: 0px 0px 10px 5px rgba(34,34,34,0.6);
		box-shadow: 0px 0px 10px 5px rgba(34,34,34,0.6);	*/
		display: inline-block;
	}
	.logoLI.clearfix > a:hover, .logoLI.clearfix > a:focus { border: 1px solid transparent; }

	/* Two Row (second row) navigation */
	.affix {
		top: 79px !important;
		width:100%;
		color: #999;
		transition: all .3s ease;
	}
	.navbar-lower {
	    top: 124px;
	}
	#lower { 
	    background-color: transparent !important;
	    z-index: 20;
	}
	#lower-navbar a {
		background-color: #444;
	    color: #fff;
	    transition: all .7s ease;
	    padding-top: 9.5px;
	    padding-bottom: 9.5px;
	}
	.affix #lower-navbar a {
		background-color: #444;
	}

	#lower-navbar a:hover, #lower-navbar a:focus #lower-navbar li:hover, #lower-navbar li:focus{
		color: #fff;
	    text-decoration: underline;
	    background-color: #222;
	}
	/* END OF Two Row (second row) navigation */

	.nav-justified.nav-align > li > .logoLI.clearfix {
		transform: translateY(0%);
		height:105px;
	}

	/* Dropdown with multi-columns */
	.dropdown-menu.multi-column {
	    width: 430px;
	    left: 50%;
		right: auto;
		text-align: center;
		transform: translate(-50%, 0);
	}
	.dropdown-header.more {
		font-size: 16px;
		background-color: #fff;
	}

	/* END OF Two Row (second row) navigation */

	.is-table-row {
        display: table;
        width: 100%;
    }
    .is-table-row [class*="col-"] {
        float: none;
        display: table-cell;
    }
}

.is-table-row .box {
  background: none;
  position: static;
}
.is-table-row [class*="col-"] {
  background: #fff;
}

/* Dropdown with multi-columns */
.dropdown-menu.multi-column .dropdown-menu {
        display: block;
        position: static;
        margin: 0;
        border: none;
        box-shadow: none;
        min-width:100px;

}	
/* Dropdown with multi-columns 
.dropdown-header.more {
	font-size: 16px;
	text-decoration: unde;
	text-decoration-color: #e5e5e5;
}*/

/* End of one row nav */
